@media (max-width:820px) {
    /* Header */
    #logo {
        margin-left: 5px;
    }
    #logo img {
        height: 60px;
    }
    #botoes-navegacao {
        gap: 20px;
    }
    #botoes-navegacao a {
        font-size: 15px;
        margin-left: 2px;
    }
    #social-media img {
        width: 40px;
        height: 40px;
    }
    /* Main */
    section#home h1, .home-content span {
        font-size: 40px;
    }
    section#home p {
        font-size: 20px;
    }
    .typing-text {
        font-size: 25px;
    }
    .typing-text span {
        font-size: 30px;
    }
    
}

@media (max-width: 500px) {

    /* Header */
    header #logo{
        margin-left: 3px;
    }
    nav #botoes-navegacao, #social-media{
        display: none;
    }
    /* Main */
    section#home h1, .home-content span {
        font-size: 20px;
    }
    section#home p {
        font-size: 12px;
    }
    .typing-text {
        font-size: 15px;
    }
    .typing-text span {
        font-size: 18px;
    }
    .social-icons a{  
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .btn{      
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 64px;
        letter-spacing: 0px;
    }
    span.aviso {
        margin-top: 80px;
        display: block;
    }
    span.aviso::after {
        color: White;
        content: "❗Atenção, essa página ainda não está pronta para dispositivos movéis! Por favor aguarde até que ela fique pronta!";
    }
    span.oculto {
        display: block;
        color: white;
        margin-top: 20px;
    }
    span.oculto a {
        text-decoration: underline;
    }
    /* Footer */
    footer #footer-navegacao {
        display: none;
    }

    /* Página 02 */
    main #projects-home {
        margin-bottom: 50px;
    }
    main #projects-home h1 {
        margin: 50px 0px 0px 10px;
    }
    main #projects-home h2 {
        margin: 20px 0px 0px 10px;
    }
    main #projects-home li, #projects-home p {
        margin: 20px 0px 0px 40px;
    }
}
